<table class="w-full">
  <tr>
    <td class="w-[600px] max-w-[600px] bg-[#F0F5F5] p-[20px] pt-[5px] sm:p-[0px] sm:w-full ">
      <table>
        <tr>
          <td class="w-[560px]">
            <p class="font-['Arial'] text-[24px] leading-[28px] text-[#005555] font-[700] text-center p-[20px] px-[30px] pt-[20px] pb-[30px]">
              Sint cupidatat occaecat ut
            </p>
          </td>
        </tr>
        <tr>
          <td class="w-[560px] justify-items-center sm:w-[335px] ">
            <table class="w-[560px] justify-items-center sm:w-[335px]">
              <tr>
                <td class="w-[270px] font-normal text-left bg-white inline-block p-[25px] justify-items-center sm:w-[335px]">
                  <table>
                    <tr>
                      <td class="w-[270px] justify-items-center sm:w-[335px]">
                        <table class="w-[100px]">
                          <tr>
                            <td class="w-[100px] justify-items-center">
                              <img src="image-5.jpg" src-production="images/image-5.jpg" alt="logo" class="w-[100px] h-[100px] rounded-full justify-items-center">
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td class="w-[270px] sm:w-[335px]">
                        <p class="font-['Arial'] text-[20px] leading-[23px] font-[700] text-center text-[#005555] p-[25px] pt-[10px] pb-[5px]">
                          Nisi ut ade
                        </p>
                        <p class="font-['Arial'] text-[16px] leading-[19px] text-[#444444] font-[400] text-center p-[0px] pt-[5px] pb-[0px]">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<sup>¹</sup>
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>

                <td class="w-[20px] font-normal text-left inline-block sm:w-[335px]">&nbsp;</td >

                  <td class="w-[270px] font-normal text-left inline-block bg-white p-[25px] justify-items-center sm:w-[335px]">
                    <table>
                      <tr>
                        <td class="w-[270px] justify-items-center sm:w-[335px]">
                          <table class="w-[100px]">
                            <tr>
                              <td class="w-[100px] justify-items-center">
                                <img src="image-5.jpg" src-production="images/image-5.jpg" alt="logo" class="w-[100px] h-[100px] rounded-full justify-items-center">
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td class="w-[270px] sm:w-[335px]">
                          <p class="font-['Arial'] text-[20px] leading-[23px] text-[#005555] font-[700] text-center p-[25px] pt-[10px] pb-[5px]">
                            Duis aute irure
                          </p>
                          <p class="font-['Arial'] text-[16px] leading-[19px] font-[400] text-center text-[#444444] p-[0px] pt-[5px] pb-[0px]">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<sup>²</sup>
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="w-[20px] font-normal text-left inline-block sm:w-[335px]">&nbsp;</td >
        </tr>
      </table>
    </td>
  </tr>
</table>
