<table class="w-full">
  <tr>
    <td class="w-[600px] max-w-[600px] p-[20px] bg-white  sm:w-full">
        <table>
          <tr>
            <td class="w-[140px]">
              <a href="#" target="_blank">
              <img src="image-2.png" src-production="images/image-2.png" width="110" alt="logo">
              </a>
            </td>
            <td>
              <p class="font-['Arial'] text-[12px] leading-[14px] font-[400] text-[#002B2B] pl-[0px]  pt-[0px] sm:pt-[0px]">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </td>
          </tr>
        </table>
    </td>
  </tr>
</table>
