<table class="w-full">
  <tr>
    <td class="w-[600px] bg-white max-w-[600px] justify-items-center p-[20px] pt-[5px] sm:w-full sm:p-[0px]">
      <table>
        <tr>
          <td class="w-[560px] sm:w-[335px]">
            <p class=" font-['Arial'] text-[12px] leading-[15px] text-[#000000] font-[700] text-left pt-[10px] pb-[15px]">
              Ut enim ad minim:
            </p>
            <p class="font-['Arial'] text-[12px] leading-[15px] text-[#000000] font-[400] text-left pt-[0px] pb-[15px]">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            </p>
            <p class="font-['Arial'] text-[12px] leading-[15px] text-[#000000] font-[400] text-left pt-[0px] pb-[15px]">
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            </p>
            <p class="font-['Arial'] text-[12px] leading-[15px] text-[#000000] font-[700] text-left pt-[5px] pb-[15px]">
              Sint occaecat cupidatat: 
            </p>
          </td>
        </tr>
        <tr>
          <td class="w-[560px] sm:w-[335px]">
            <table>
              <tr>
                <td class="w-[15px] font-['Arial'] text-[12px] leading-[15px] align-top text-[#000000] text-left">
                  1.
                </td>
                <td class="text-[#000000] text-[12px] leading-[15px] font-['Arial'] text-left">
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="w-[560px] sm:w-[335px] pt-[2px] pb-[5px]">
            <table>
              <tr>
                <td class="w-[15px] font-['Arial'] text-[12px] leading-[15px] text-[#000000] align-top text-left">
                  2.
                </td>
                <td class="font-['Arial'] text-[12px] leading-[15px] text-[#000000] text-left">
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="w-[560px] text-left bg-[#000000] inline-block font-normal h-[1px] leading-[1px] text-[1px] sm:w-[335px]">&nbsp;</td >
        </tr>
        <tr>
          <td class="w-[560px] pt-[12px] sm:pb-[15px] sm:w-[335px]">
            <table>
              <tr>
                <td class="w-[560px] font-['Arial'] text-[12px] leading-[15px] text-center text-[#000000] align-top sm:w-[335px]">
                  Sed do eiusmod tempor incididunt ut labore
                </td>
              </tr>
              <tr>
                <td class="w-[560px] justify-items-center sm:w-[335px]">
                  <table class="w-[100px]">
                    <tr>
                      <td class="w-[100px] justify-items-center">
                        <img src="image-2.png" src-production="images/image-2.png" alt="logo" class="w-100px pt-[15px]">
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
